[Unit]
Description=Pulseaudio

[Service]
User=root
Type=forking
ExecStart=/bin/pulseaudio --system --daemonize --realtime --disallow-exit --disallow-module-loading
Restart=always

[Install]
WantedBy=default.target
